body {
    font-family: Arial;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
#todoApp {
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}
#todoList {
    list-style-type: none;
    padding: 0;
}
#todoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
#todoList li.completed {
    text-decoration: line-through; 
    color: #aaa; 
}
#todoList li button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
#todoList li button:hover {
    background-color: #e24949;
}
input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 5px;
}
button:hover {
    background-color: #0056b3;
}

.completed {
    text-decoration: line-through;
    color: gray; 
}